# ==== INFRASTRUCTURE ===========================================================
{{#if db_postgres}}
DATABASE_URL=postgresql://localhost:5432/{{projectName}}
{{/if}}

# ==== SERVER ===================================================================
PORT=3000
NODE_ENV=development

# ==== AUTH =====================================================================
{{#if auth_clerk}}
CLERK_SECRET_KEY=sk_live_...
{{/if}}

# ==== OBSERVABILITY ============================================================
LOG_LEVEL=info
